.avatar-cont {
    width: 80%;
    border: var(--primary-color) 3px solid;
    box-shadow: 0 0 10px var(--primary-color);
    border-radius: 10px;
    padding: 9px 9px 5px 9px;
    margin: 15px auto 10px auto;

    & .img {
        width: 100%;
        border-radius: 8px;
        box-shadow: 1px 1px 5px 8px rgba(0, 0, 0, 0.2);
        border: 2px solid black;
    }
}

.links-container-fab {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    & a {
        width: 20%;
        padding: 5px;
    }

    & .button-cv {
        width: fit-content;
        padding: 5px;
        border: none;
        border-radius: 10px;
        background-color: #424242;
        transition: all 0.3s;
        text-decoration: none;
        color: white;
    }
}

.button-cv:hover {
    background-color: #828282;
    cursor: pointer;
}

.about-text {
    margin-top: 2rem;
    text-wrap: balanced;
    & span {
        margin: auto;
        font-weight: 600;
        font-size: 25px;
    }

    & .apellido {
        color: var(--primary-color);
    }

    & .parrafo {        
        font-size: 1rem;
        line-height: 23px;
    }
}

@media(min-width: 500px) {
    .avatar-cont {
        width: 55%;
    }
}

@media(min-width: 768px) {
    .flex-768px {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0rem;        
        flex-wrap: wrap;
    }    

    .links-container-fab {
        width: 20%;
        flex-direction: column;
        align-items: center;
        gap: 1.5rem;
        text-align: center;
    }

    .about-text {
        width: 50%;
        margin: auto;
    }

    .avatar-cont {
        width: 30%;
    }
}


@media(min-width: 960px) {
  .avatar-cont {
        width: 25%;
    }
}