footer{
    background-color: rgb(16, 16, 16);
    color: white;
    text-align: center;
}

footer .opciones-footer{    
    width: 100%;
    height: 100px;
    display: flex; 
    flex-wrap: wrap; 
    justify-content: space-around;
    align-items: center;  
}

.opciones-footer span i {    
    font-size:20px;
}

.copirigth span i{
    font-size: 12px;    
}
.copirigth{
    padding: 10px;   
}