.containerBox {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;  
    gap: 1rem;
}

.container-filterProjects {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-bottom: 15px;

    & li {
        list-style: none;

        & button {
            padding: 2px 4px;
            cursor: pointer;
        }
        
        & button.active-filter {            
            color: var(--secondary-color);
            border-color: var(--primary-color);
        }
    }
}

@media(min-width: 768px) {
    .containerBox {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }
    
}

@media(min-width: 990px) {
    .containerBox {        
        gap: 1rem;
    }
    
}