.container-card-studies {
    display: flex;
    flex-direction: column;
    gap: 10px;


    & .subtitulo-estudio-complementario{
        margin-top: 10px;
        & h3 {
            text-decoration: underline;
        }

         & p {
            color: #696969;
         }
    }
}