.establecimiento{     
    font-size: 1.2rem;
}

.modulo-estudio{
    margin-top: 10px;
    margin-bottom: 15px;
}

.subtitulo{    
    font-size: 16px;
}

.margenes{
    margin: 10px 0;
}

.duracion{
    font-size: 15px;
    color: blue;    
}


